.wrap .rl {
  position: relative;
}
.wrap .ab {
  position: absolute;
}
.wrap .fl {
  float: left;
}
.wrap .fr {
  float: right;
}
.wrap i {
  display: block;
  font-style: normal;
}
.wrap .line {
  width: 1px;
  height: 100%;
  background: #203131;
}
.wrap .icons {
  width: 25px;
  height: 25px;
}
.wrap .cursor_pointer {
  cursor: pointer;
}
.wrap input {
  padding: 0 0 0 10px;
  box-sizing: border-box;
  color: #568E8E;
}
.wrap input::-webkit-input-placeholder,
.wrap textarea::-webkit-input-placeholder {
  color: #DCE8F7;
}
.wrap .i_select {
  width: 15px;
  height: 15px;
  /*background: #EE9F3A;*/
  border: 1px solid #5B9696;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
.wrap .i_select.active {
  background: #EE9F3A;
}
.wrap .left_menu {
  float: left;
}
.wrap .left_menu > div {
  float: left;
  box-sizing: border-box;
  cursor: pointer;
}
.wrap .top_menu {
  height: 30px;
  padding: 20px 20px 0 20px;
}
.wrap .top_menu > .search {
  float: right;
}
.wrap .add_btn {
  position: relative;
  width: 140px;
  height: 30px;
  line-height: 30px;
  background-color: #ee9f3a;
  border: 1px solid #f3c080;
  font-size: 14px;
  color: #0E1819;
  letter-spacing: 1.4px;
  text-align: center;
}
.wrap .add_btn:after {
  content: "+";
  position: absolute;
  left: 10px;
  top: -2px;
  font-size: 20px;
  color: #0F1314;
}
.wrap .del_btn {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #f3c080;
  border-left: none;
  font-size: 14px;
  color: #f3c080;
  letter-spacing: 1.4px;
  text-align: center;
}
.wrap .save_btn {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #f3c080;
  border-left: none;
  font-size: 14px;
  color: #f3c080;
  letter-spacing: 1.4px;
  text-align: center;
}
.wrap .i_search {
  position: absolute;
  cursor: pointer;
  background: url('search.png') no-repeat;
  background-size: 100%;
  background-position: center;
}
.wrap .i_search:hover {
  background-image: url('search_h.png');
}
.wrap .search {
  position: relative;
  width: 380px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #568E8E;
}
.wrap .search > input {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  color: #568E8E;
}
.wrap .search .i_search {
  right: 14px;
  top: 6px;
  width: 15px;
  height: 15px;
}
.wrap .productBody {
  padding-top: 30px;
  overflow: hidden;
  width: 100%;
}
.wrap .productBody .product_item {
  padding: 0 20px 5px 54px;
  width: 1370px;
}
.wrap .productBody .product_item .i_select.active ~ .top {
  background: #EE9F3A;
  color: #fff;
}
.wrap .productBody .top {
  border: 1px solid #5B9696;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  border-bottom: none;
  height: 30px;
  line-height: 30px;
  color: #5B9696;
}
.wrap .productBody .top .name {
  padding: 0 0 0 24px;
  box-sizing: border-box;
}
.wrap .productBody .i_select {
  top: 30px;
  left: 20px;
}
.wrap .productBody .i_select.active ~ .top {
  border-color: #AE9471;
  background: #EE9F3A;
}
.wrap .productBody .productMain {
  width: 100%;
  height: 700px;
  padding-top: 30px;
  background: #142223;
  border: 1px solid #4A7B7B;
  box-sizing: border-box;
}
.wrap .productBody .itemWrap {
  display: flex;
  align-items: center;
}
.wrap .productBody .itemWrap .item {
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #5B9696;
  letter-spacing: 0.6px;
  text-align: justify;
  padding: 0 0 0 10px;
}
.wrap .productBody .itemWrap .item_1 > label {
  width: 71px;
  display: inline-block;
}
.wrap .productBody .itemWrap .item_1 input {
  width: 500px;
  height: 30px;
  background: #647178;
  border: 1px solid #0C151B;
  box-shadow: inset 0 1px 3px 0 #222323;
}
.wrap .productBody .itemWrap .item_2 {
  margin-left: 34px;
}
.wrap .productBody .itemWrap .item_2 > label {
  display: inline-block;
  width: 71px;
}
.wrap .productBody .itemWrap .item_2 input {
  width: 660px;
  height: 30px;
  background: #647178;
  border: 1px solid #0C151B;
  box-shadow: inset 0 1px 3px 0 #222323;
}
.wrap .productBody .pageMenu {
  padding: 20px 0 0 42px;
  box-sizing: border-box;
  overflow: hidden;
}
.wrap .productBody .pageMenu .i_add {
  position: absolute;
  width: 20px;
  height: 28px;
  line-height: 28px;
  top: 50%;
  margin-top: -14px;
  left: 10px;
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #EE9F3A;
  letter-spacing: 1px;
  text-align: center;
}
.wrap .productBody .pageMenu .addPage {
  position: relative;
  width: 140px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #F1B76D;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #EE9F3A;
  letter-spacing: 1.4px;
  text-align: center;
  box-sizing: border-box;
}
.wrap .productBody .pageMenu .i_select {
  top: 20px;
  left: 12px;
}
.wrap .productBody .pageMenu .search {
  width: 200px;
  margin-right: 11px;
}
.wrap .productBody .pageMenu .delPage {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #5B9696;
  border-radius: 0px;
  box-sizing: border-box;
  text-align: center;
  border-left: none;
}
.wrap .productBody .pageMenu .savePage {
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #5B9696;
  border-radius: 0px;
  box-sizing: border-box;
  text-align: center;
  border-left: none;
}
.wrap .pageMain {
  position: relative;
  display: flex;
  padding: 30px 0 0 0;
  justify-content: space-around;
}
.wrap .pageMain:after {
  content: "";
  position: absolute;
  top: 14px;
  left: 30px;
  width: 1330px;
  height: 1px;
  background: #528787;
}
.wrap .pageArea {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  background: #0F1618;
  border: 1px solid #334E50;
  box-shadow: inset 0 1px 3px 0 #222323;
  box-sizing: border-box;
}
.wrap .pageArea a {
  color: #EE9F3A;
}
.wrap .pageArea .i_select {
  left: 8px;
  top: 8px;
}
.wrap .pageDetails {
  margin-top: 20px;
}
.wrap .pageDetails > div {
  display: flex;
  align-items: flex-start;
}
.wrap .pageDetails > div > label {
  width: 58px;
}
.wrap .pageDetails > div > input,
.wrap .pageDetails > div > textarea {
  resize: none;
  width: 315px;
  margin-left: 27px;
  background: #647178;
  border: 1px solid #0C151B;
  box-shadow: inset 0 1px 3px 0 #222323;
  box-sizing: border-box;
}
.wrap .pageItem {
  width: 400px;
}
.wrap .pageItem li + li {
  border-right: 1px solid #632;
}
.wrap .picText {
  height: 160px;
}
.wrap .picTextWrap {
  margin-top: 10px;
}
.wrap .foot_menu {
  position: relative;
  height: 17px;
  margin: 10px 0 0 0;
}
.wrap .foot_menu > i,
.wrap .foot_menu > div {
  position: absolute;
  top: 0;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #4A7B7B;
  letter-spacing: 0.6px;
  text-align: justify;
}
.wrap .foot_menu .delPage {
  left: 123px;
  top: 0;
  width: 26px;
}
.wrap .foot_menu .savePage {
  right: 0;
  top: 0;
  width: 26px;
}
.wrap .foot_menu .i_del {
  background-position: 238px 26px;
  height: 26px;
  left: 82px;
}
.wrap .foot_menu .i_del:hover {
  background-position: 210px 26px;
}
.wrap .foot_menu .i_save {
  width: 15px;
  height: 15px;
  right: 42px;
  top: 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('save.png');
}
.wrap .foot_menu .i_save:hover {
  background-image: url('save_h.png');
}
.wrap .page_foot {
  overflow: hidden;
}
.wrap .page_foot ul {
  float: right;
  margin: 7px 19px 0 0;
}
.wrap .page_foot li {
  vertical-align: middle;
  display: inline-block;
  width: 32px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: rgba(91, 150, 150, 0.1);
  border: 1px solid #45595B;
  box-sizing: border-box;
}
.wrap .page_foot .pageNum {
  width: 200px;
  border: none;
  font-size: 10px;
  color: #EE9F3A;
}
.wrap .line_1 {
  left: 455px;
  top: 29px;
  height: 534px;
}
.wrap .line_2 {
  right: 457px;
  top: 29px;
  height: 534px;
}
/*# sourceMappingURL=style.css.map */