.wrap {
    width: 1020px;
    height: 710px;
    background: #444451;
    border: 1px solid #325756;
    position: absolute;
    top: 90px;
    left: 380px;
}

.wrap > .title {
    background: #ef9f26;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
}

.wrap > .left {
    width: 708px;
    height: 645px;
    padding: 25px 0 0 10px;
    background: #141f21;
    float: left;
    overflow: hidden;
    overflow-y: auto;
}

.wrap > .left > .head {
    width: calc(100% - 10px);
    height: 115px;
    background: #1b2a2d;
    border-radius: 10px;
    position: relative;
    color: #66bcbd;
    margin-bottom: 4%;
}

.wrap > .left > .head > .h1 {
    display: block;
    height: 60px;
    line-height: 70px;
    font-size: 24px;
    text-align: center;
}

.wrap > .left > .head > .h2 {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
}


.wrap > .left > .head > .h2 > .orange {
    color: #ef9f26;
    padding: 0 2px;
}

.wrap > .left > .head > .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    font-size: 23px;
}

.wrap > .left > .title {
    height: 20px;
    line-height: 20px;
    color: #3f6570;
    float: left;
    width: 695px;
}

.wrap > .left > .mach {
    width: 695px;
    float: left;
    margin: 15px 0;
}

.wrap > .left > .mach > .item {
    height: 157px;
    width: 155px;
    margin: 0 15px 20px 0;
    box-sizing: border-box;
    border: 1px solid #1b2a2d;
    background: #1b2a2d;
    border-radius: 5px;
    float: left;
    padding: 20px 25px 0 25px;
    position: relative;
    color: #579ea2;
}


.wrap > .left > .mach > .item > .private-mask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
}

.wrap > .left > .mach > .item > .dep {
    border: 1px solid #416973;
    height: 70px;
    width: 100%;
    background: #0e1819;
}

.wrap > .left > .mach > .item > .name {
    display: block;
    text-align: center;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    margin-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.wrap > .left > .mach > .item.active,
.wrap > .left > .mach > .item:hover{
    border:1px solid #ef9f26;
    background: #302818	;
    color:#ef9f26;
}


.wrap > .left > .mach > .item.active>.dep,
.wrap > .left > .mach > .item:hover>.dep{
    border:1px solid #ef9f26;
    background: #222314;
}

.wrap > .left > .mach > .item > .size {
    display: block;
    text-align: center;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
}

.wrap > .right {
    position: relative;
    background: #1b2a2d;
    float: left;
    padding: 30px 0 0 30px;
    box-sizing: border-box;
    width: 301px;
    height: 670px;
}

.wrap > .right > .detail {
    color: #406a76;
    margin-bottom: 15px;
}

.wrap > .right > .name {
    color: #66bbbe;
    width: 240px;
    height: 50px;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #406a76;

}

.wrap > .right > .width,
.wrap > .right > .height,
.wrap > .right > .num,
.wrap > .right > .direction {
    margin-top: 25px;
    color: #406a76;
    width: 80px;
    height: 67px;
    float: left;
    margin-right: 12px;
}


.wrap > .right > .width > input,
.wrap > .right > .height > input,
.wrap > .right > .num > input,
.wrap > .right > .direction > input {
    width: 100%;
    height: 35px;
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #406a76;
    color: #67bbbd;
    text-indent: 5px;
    margin-top: 10px;
}

.wrap > .right > .direction > .opt,
.wrap > .right > .num > .opt {
    width: 100%;
    height: 35px;
    font-size: 16px;
    text-indent: 5px;
    margin-top: 10px;
}

.wrap > .right > .num > .opt {
    border: 1px solid #406a76;
}

.wrap > .right > .direction > .opt > .item {
    width: 40px;
    height: 35px;
    float: left;
    cursor: pointer;
}


.wrap > .right > .num > .opt > .updown {
    width: 25px;
    height: 35px;
    border-right: 1px solid #406a76;
    float: left;
    cursor: pointer;
}


.wrap > .right > .num > .opt > .updown > .up,
.wrap > .right > .num > .opt > .updown > .down {
    height: 50%;
}
.wrap > .right > .num > .opt > .updown > .up:active,
.wrap > .right > .num > .opt > .updown > .down:active {
    opacity: .5;
}


.wrap > .right > .num > .opt > .updown > .up {
    background-position: -205px -4px;
}

.wrap > .right > .num > .opt > .updown > .down {
    background-position: -232px -9px;
}

.wrap > .right > .num > .opt > .size {
    width: 54px;
    float: left;
    height: 35px;
    text-align: center;
    line-height: 35px;
}


.wrap > .right > .direction > .opt > .item.crosswise {
    background-position: -231px -38px;
}

.wrap > .right > .direction > .opt > .item.lengthways {
    background-position: -85px -38px;
}

.wrap > .right > .direction > .opt > .item.crosswise.active,
.wrap > .right > .direction > .opt > .item.crosswise:hover {
    background-position: -135px -38px;
}

.wrap > .right > .direction > .opt > .item.lengthways.active,
.wrap > .right > .direction > .opt > .item.lengthways:hover {
    background-position: -181px -38px;
}

.wrap > .right > .bottom {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.wrap > .right > .bottom > .close,
.wrap > .right > .bottom > .confirm {
    width: 80px;
    height: 35px;
    cursor: pointer;
}

.wrap > .right > .bottom > .close {
    background: #0e1819;
    border: 1px solid #406872;
    color: #64bdbb;
}

.wrap > .right > .bottom > .confirm {
    background: #ef9f26;
    border: 1px solid #ef9f26;
}