.map {
    width: 1100px;
    height: 750px;
    margin: 50px auto 0 auto;
    position: relative;
    background-image: url("img/test.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.map > .box {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(44, 90, 103, .3);
    border: 1px solid #64bcbd;
    border-radius: 50%;
}



.map > .box > .list {
    width: 80%;
    /*height: 60%;*/
}

.map > .box > .list > .row {
    font-size: 16px;
    text-align: center;
}

.map > .box > .list > .row.title {
    text-shadow: 0 0 6px #000;
    color: #fff;
}

.map > .box > .list > .row.stat {
    text-shadow: 0 0 2px #191919;
    font-weight: bolder;
    height: 35px;
    line-height: 35px;
}

.map > .box > .list > .row.stat > .offline {
    color: red;
}

.map > .box > .list > .row.into {
    background: #18242b;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    color: #64bcbd;
    border: 1px solid #416a76;
    font-size: 14px;
    margin: 0 auto;
    width: 80%;
}

.map > .box.active {
    background: rgba(236, 158, 69, .3);
    border: 2px solid #ec9e45;
}

.map > .box.active> .list > .row.into{
    background: #ec9e45;
    border: 1px solid #ecb435;
    color: #64bcbd;
}